{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
{% load user_filters %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Изменить пароль1</h1>
    </div>
    <div class="form-container">
        <form class="form">
            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                        <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                        <div class="col-md-6">

                            {# подключаем фильтр и указываем класс #}
                            {{ field|addclass:"form-control" }}

                            {% if field.help_text %}
                            <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                        </div>                
                    </div>
                {% endfor %}
                <div class="form__footer">
                    <button class="button button_style_blue">Изменить пароль</button>
                </div>
        </form>
    </div>


</main>
<footer class="footer">
    <div class="footer__container container">
        <a href="#" class="footer__brand link">Продуктовый помощник</a>
        <ul class="footer__items">
            <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
            <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
