{% extends 'base.html' %}
{% load static %}

    <title>Редактирование рецепта</title>
{% block static %}
    <link rel="stylesheet" href="{% static '/pages/form.css' %}">
{% endblock %}  
{% csrf_token %}

{% block nav %}
    {% include "nav.html"  %}
{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Редактирование рецепта</h1>
    </div>
    <div class="form-container">
        {% include "formRecipe.html" with change=True recipe_id=recipe_obj.pk username=recipe_obj.author%}
    </div>

<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/utils/debouncing.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>
</body>
</html>
{% endblock %}